<% include ../inc/header %>
<% include ../inc/navbar %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- main content container -->
<div class="main">
  <div class="container">
    <div class="section level">
      <div class="level-item">
        <div class="column is-8">
          <!-- form validation notification errors -->
          <% if(errors && errors.length > 0) { %>
            <% errors.forEach(function(error) { %>
              <%- Message.notify({ color: 'danger', message: error }) %>
            <% }); %>
          <% } %>
          <!-- form validation notifications success -->
          <% if(infos && infos.length > 0) { %>
            <% infos.forEach(function(info) { %>
              <%- Message.notify({ color: 'success', message: info }) %>
            <% }); %>
          <% } %>
          <form action="/signup" method="POST">
            <div class="field">
              <%- Form.input({
                name: 'username',
                type: 'text',
                icon: 'user',
                label: 'Username',
                placeholder: 'username',
                required: 'required',
                autofocus: 'autofocus',
                pattern: 'pattern=^[a-zA-Z0-9_-]{4,20}$',
                title: 'title="Length between 4 and 20, with no special characters"'
              }); %>
              <%- Form.help(); %>
            </div>
            <div class="field">
              <%- Form.input({
                name: 'email',
                type: 'email',
                icon: 'envelope',
                label: 'Email',
                placeholder: 'email',
                required: 'required'
              }); %>
              <%- Form.help(); %>
            </div>
            <div class="field">
              <%- Form.input({
                name: 'password',
                type: 'password',
                icon: 'key',
                label: 'Password',
                placeholder: 'password',
                required: 'required',
                pattern: 'pattern=(.){6,20}',
                title: 'title="Length between 6 and 20 characters"'
              }); %>
              <%- Form.help(); %>
            </div>
            <div class="field">
              <%- Form.input({
                name: 'confirmPassword',
                type: 'password',
                icon: 'key',
                label: 'Confirm password',
                placeholder: 'confirm password',
                required: 'required'
              }); %>
              <%- Form.help(); %>
            </div>
            <hr>
            <%- Form.reCaptcha(reCaptchaPublic); %>
            <hr>
            <div class="field">
              <%- Form.socialSignin({
                url: '/auth/google',
                color: 'danger',
                provider: 'google',
                label: 'Sign in with google'
              }); %>
              <%- Form.submit({label: 'Sign up'}); %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of main content container -->
<% include ../inc/footer %>
